@model EntityLayer.Concrete.Employee

@{
    ViewData["Title"] = "CreateEmployee";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h1>Çalışan Oluşturma Sayfası</h1>
<br />

@using (Html.BeginForm("CreateEmployee","Employee", FormMethod.Post))
{
    @Html.Label("Çalışan ismi ")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    <br />
    @Html.Label("Çalışan soyismi ")
    @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
    <br />
    <br />
    @Html.Label("Çalışan maili ")
    @Html.TextBoxFor(x => x.Employee_mail, new { @class = "form-control" })
    <br />
    @Html.Label("Çalışan passwordu ")
    @Html.TextBoxFor(x => x.Employee_password, new { @class = "form-control" })
   

    <br />
    <br /> 
 @* @Html.TextBoxFor(x => x.e, new { style = "display: none;" })
    @Html.TextBoxFor(x => x.IsActive, new { style = "display: none;" })
    @Html.TextBoxFor(x => x.Employee_Id, new { style = "display: none;" })
    @Html.TextBoxFor(x => x.Appointment_Id, new { style = "display: none;" }) *@

    <br />
    <br />
    <button class="btn btn-success">Oluştur</button>
}
