
<div class="row">
    <div class="col-lg-4">
        <div class="widget-head-color-box navy-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold no-margins">
                    @ViewBag.adminname @ViewBag.adminsurname
                </h2>
              
            </div>
            
        </div>
        <div class="widget-text-box">
            <h4 class="media-heading">  </h4>
            <p> @ViewBag.admindesc</p>
           
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget navy-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-shield fa-4x"></i>
                <h1 class="m-xs"> ADMIN </h1>
                <h3 class="font-bold no-margins">
                    @ViewBag.adminNO
                </h3>
                <small> </small>
            </div>
        </div>
    @*     <div class="widget  p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-flash fa-4x"></i>
                <h1 class="m-xs">612</h1>
                <h3 class="font-bold no-margins">
                    Thunder
                </h3>
                <small>amount</small>
            </div>
        </div> *@
    </div>
    <div class="col-lg-4">
        <div class="widget lazur-bg p-xl">

            <h2>
                @ViewBag.adminname @ViewBag.adminsurname
            </h2>
            <ul class="list-unstyled m-t-md">
                <li>
                    <span class="fa fa-envelope m-r-xs"></span>
                    <label>Email:</label>
                    @ViewBag.adminmail
                </li>
                <li>
                    <span class="fa fa-home m-r-xs"></span>
                    <label>Address:</label>
                   İstanbul
                </li>
                <li>
                    <span class="fa fa-phone m-r-xs"></span>
                    <label>Contact:</label>
                    telno
                </li>
            </ul>

        </div>
   
    </div>
</div>